:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --hero-text-color: #FFFFFF;
    --nav-text-color: #2196F3;
    --adress-text-color: rgba(255, 255, 255, 0.6);
    --button-text-background: #F5F4FA;
}

body {
    background: var(--hero-text-color);
    color: var(--main-text-color);
    font-family: roboto, sans-serif; 
}

ul {
list-style: none;
}

.logo-link {

    font-family: raleway, sans-serif;
    text-decoration: none;
}

.logo { 
    color: var(--nav-text-color);

    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
}

.logo-top {
    color: var(--main-text-color);
}

.logo-buttom {
    color: var(--hero-text-color);

}



.site-nav {
    color: var(--main-text-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}


.site-nav:hover,
.site-nav:focus {
    color: var(--nav-text-color);
}

.site-nav-current {
color: var(--nav-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

text-decoration: none;
}


.link {
    color: var(--secondary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--nav-text-color);
}


.link-current {
    color: var(--nav-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
 
.main {
    background-color: #2F303A;

}

.main-title {
    color: var(--hero-text-color);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
  
}

.button {
    color: var(--hero-text-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    display: flex;
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    display: block;
    background: var(--nav-text-color);
    cursor: pointer;
    
}



.button:hover {
    color: var(--main-text-color);
}


.section-subtitle {
    color: var(--main-text-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.section-text {
    color: var(--secondary-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
}

.section-title {
    color: var(--main-text-color);

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.buttom {
    background-color: #2F303A;
}

.location {
    color: var(--hero-text-color);

    font-style: normal;
    

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

}

.contacts {
    color: var(--adress-text-color);

    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    /* identical to box height, or 171% */
    letter-spacing: 0.03em;

}

.contacts:hover,
.contacts:focus {
    color: var(--nav-text-color);
}

.button-nav {
    color: var(--main-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--button-text-background);
    cursor: pointer;
}


.button-nav:hover {
    color: var(--hero-text-color);
    background: var(--nav-text-color);
}


.button-nav-current {
    color: var(--hero-text-color);
    background: var(--nav-text-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
}